.JSSectionHeader{
    border-bottom: 1px solid #fff;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #eee;
}
.JSSectionHeader h1{
    font-size: 1.7em;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.JSSectionHeader h1:hover{
    color: #ff4500;
}
.JSSectionHeader .JSLink{
    text-decoration: none;
    height: 80%;
    width: 15%;
    display: flex;
    box-shadow: 0 0 5px #ddd;
    justify-content: center;
    align-items: center;
    color: #eee;
    border-radius: 10px;
    transition: .1s linear;
    font-size: 1.1em;
}
.JSSectionHeader .JSLink:hover{
    background-color: #3d0077;
    color: #eee;
    border: none;
}